# Basic workflow with GitHub Pages deployment

name: CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      # Twój "hello world" może zostać – jak chcesz ;)
      - name: Run a simple script
        run: echo "Building website..."

      # Tu pakujemy pliki z folderu /sigiemka do artefaktu
      - name: Upload static site files
        uses: actions/upload-pages-artifact@v3
        with:
          path: ./sigiemka

  deploy:
    needs: build
    runs-on: ubuntu-latest

    steps:
      - name: Deploy to GitHub Pages
        uses: actions/deploy-pages@v4
